---
import '../../src/styles/globals.css';
import '@fontsource/inter/400.css';
import '@fontsource/inter/800.css';
import interFont400 from '@fontsource/inter/files/inter-latin-400-normal.woff2?url';
import interFont800 from '@fontsource/inter/files/inter-latin-800-normal.woff2?url';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { getEntry } from 'astro:content';

interface Props {
  electoralPeriod?: {
    id: string;
  };
}

let electoralPeriod = Astro.props.electoralPeriod;
if (!electoralPeriod) {
  const defaultElectoralPeriodId = 'magdeburg-8'; // TODO: Fetch defaul electoral period
  const electoralPeriodEntry = await getEntry('electoralPeriods', defaultElectoralPeriodId);
  electoralPeriod = electoralPeriodEntry?.data!;
}

---

<html lang="de" class="h-full bg-gray-100">
<head>
  <meta charset="UTF-8" />
  <title>StadtratWatch</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="preload" as="font" type="font/woff2" href={interFont400} crossorigin />
  <link rel="preload" as="font" type="font/woff2" href={interFont800} crossorigin />
</head>
<body class="h-full">
{
  electoralPeriod &&
  <div class="flex flex-col min-h-screen">
    <Header electoralPeriod={electoralPeriod} />
    <main class="grow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <slot />
      </div>
    </main>
    <Footer electoralPeriod={electoralPeriod} />
  </div>
}
</body>
</html>
