---
import {
  type ElectoralPeriodWithSessionProps,
  getElectoralPeriodWithSessionPaths,
} from '../../_helpers';
import PageLayout from '@layouts/PageLayout.astro';
import { type BreadcrumbItem } from '@components/BreadcrumbMenu.astro';
import Votings from './_votings.astro';
import Speeches from './_speeches.astro';
import SpeakingTimes from './_speaking-times.astro';
import { formatDate } from '@utils/format-date';

export const getStaticPaths = getElectoralPeriodWithSessionPaths;

const { electoralPeriodId, sessionId } = Astro.params;
const { electoralPeriod, sessionInput } =
  Astro.props as ElectoralPeriodWithSessionProps;

const speeches = sessionInput.speeches.filter(
  (speech) => !speech.isChairPerson && !!speech.transcription,
);

const breadcrumbItems: BreadcrumbItem[] = [
  {
    name: electoralPeriod.name,
    href: `/ep/${electoralPeriodId}`,
  },
  {
    name: 'Sitzungen',
    href: `/ep/${electoralPeriodId}/sessions`,
  },
  {
    name: formatDate(sessionInput.config.date),
    href: null,
  },
];

const session = electoralPeriod.sessions.find((s) => s.id === sessionId);
const meetingMinutesUrl = session?.meetingMinutesUrl;
const youtubeUrl = sessionInput.config.youtubeUrl;
---

<PageLayout
  electoralPeriod={electoralPeriod}
  pageTitle={`Stadtratssitzung vom ${formatDate(sessionInput.config.date)}`}
  breadcrumbItems={breadcrumbItems}
>
  <div slot="sub-page-header">
    <div class="flex items-center mt-1 gap-4">
      {
        meetingMinutesUrl && (
          <a
            href={meetingMinutesUrl}
            target="_blank"
            class="link link-primary text-xs"
          >
            <span class="iconify lucide--file-text" />
            Niederschrift
          </a>
        )
      }
      {
        youtubeUrl && (
          <a
            href={youtubeUrl}
            target="_blank"
            class="link link-primary text-xs"
          >
            <span class="iconify lucide--youtube" />
            YouTube
          </a>
        )
      }
    </div>
  </div>

  <div
    id="tabs"
    role="tablist"
    class="tabs tabs-lift"
    x-data="session"
    data-electoral-period-id={electoralPeriodId}
    data-session-id={sessionId}
  >
    <input
      role="tab"
      class="tab"
      aria-label="Abstimmungen"
      type="radio"
      name="demo-tabs-radio"
      :checked="currentTab === 'votings'"
      @change="history.pushState(null, '', `/ep/${electoralPeriodId}/session/${sessionId}?tab=votings`); currentTab = 'votings'"
    />
    <div class="tab-content border-base-200 bg-base-100 p-6">
      <Votings
        electoralPeriodId={electoralPeriod.id}
        sessionId={sessionId}
        sessionScan={sessionInput.votings}
      />
    </div>

    <input
      role="tab"
      class="tab"
      aria-label="Redebeiträge"
      type="radio"
      name="demo-tabs-radio"
      :checked="currentTab === 'speeches'"
      @change="history.pushState(null, '', `/ep/${electoralPeriodId}/session/${sessionId}?tab=speeches`); currentTab = 'speeches'"
    />
    <div class="tab-content border-base-200 bg-base-100 p-6">
      <Speeches
        electoralPeriodId={electoralPeriodId}
        sessionId={sessionId}
        speeches={speeches}
        sessionConfig={sessionInput.config}
      />
    </div>

    <input
      role="tab"
      class="tab"
      aria-label="Redezeiten"
      type="radio"
      name="demo-tabs-radio"
      :checked="currentTab === 'speaking-times'"
      @change="history.pushState(null, '', `/ep/${electoralPeriodId}/session/${sessionId}?tab=speaking-times`); currentTab = 'speaking-times'"
    />
    <div class="tab-content border-base-200 bg-base-100 p-6">
      <SpeakingTimes
        electoralPeriod={electoralPeriod}
        speeches={speeches}
        sessionConfig={sessionInput.config}
      />
    </div>
  </div>
</PageLayout>

<script>
  import Alpine from 'alpinejs';

  document.addEventListener('alpine:init', () => {
    const currentUrl = new URL(window.location.href);
    const currentTab = currentUrl.searchParams.get('tab') || 'votings';

    const sessionsDivElement = document.getElementById(
      'tabs',
    ) as HTMLDivElement;
    const electoralPeriodId = sessionsDivElement.dataset.electoralPeriodId;
    const sessionId = sessionsDivElement.dataset.sessionId;
    Alpine.data('session', () => ({
      electoralPeriodId,
      sessionId,
      currentTab,
    }));
  });
</script>
