---
import type { SessionScan, SessionScanItem } from '../../../../../model/session-scan';

type Props = {
  electoralPeriodId: string;
  sessionId: string;
  votings: SessionScan
};

const { electoralPeriodId, sessionId, votings } = Astro.props;

function votingAccepted(voting: SessionScanItem) {
  const votedFor = voting.votes.filter(vote => vote.vote === 'J').length;
  const votedAgainst = voting.votes.filter(vote => vote.vote === 'N').length;
  return votedFor > votedAgainst;
}

---

<div class="space-y-5">

    {votings
      .sort((a, b) => a.votingFilename.localeCompare(b.votingFilename))
      .map((voting, index) =>
        <div class="relative divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">

          <div class="px-4 py-5 sm:px-6">
            <div class="-ml-4 -mt-4 flex flex-wrap sm:flex-nowrap justify-between">
              <div class="ml-4 mt-4">
                <h3 class="text-base font-semibold text-gray-900">{voting.votingSubject.agendaItem} {voting.votingSubject.type} {voting.votingSubject.applicationId}</h3>
                {voting.votingSubject.authors.length > 0 &&
                  <div class="mt-1 flex flex-wrap gap-1">
                    {voting.votingSubject.authors.map(author =>
                      <span class="rounded-md bg-gray-200 px-1.5 py-0.5 text-sm font-medium text-gray-600 ring-1 ring-inset ring-gray-500/20">
                        {author}
                      </span>
                    )}
                  </div>
                }
              </div>
              <div class="ml-4 mt-4">
                {votingAccepted(voting)
                  ? <span class="rounded-md bg-green-200 px-1.5 py-0.5 text-xs font-medium text-green-800 ring-1 ring-inset ring-green-800/20">angenommen</span>
                  : <span class="rounded-md bg-red-200 px-1.5 py-0.5 text-xs font-medium text-red-800 ring-1 ring-inset ring-red-800/20">abgelehnt</span>
                }
              </div>
            </div>
          </div>

          <div class="px-4 py-5 sm:p-6 text-sm text-gray-600 space-y-3">
            <a href={`/ep/${electoralPeriodId}/session/${sessionId}/voting/${index+1}`}>
              <span class="absolute inset-x-0 -top-px bottom-0"></span>
              {voting.votingSubject.title}
            </a>
          </div>

        </div>
      )}

</div>
