---
import { getCollection } from 'astro:content';
import { type Registry } from '@models/registry';
import { formatDate } from '@utils/format-date';

const parliamentPeriodsCollection = await getCollection('parliamentPeriods');
const parliamentPeriods = parliamentPeriodsCollection
  .sort((a, b) => a.data.name.localeCompare(b.data.name))
  .map((parliamentPeriodEntry) => parliamentPeriodEntry.data);

type Props = {
  parliamentPeriod: Registry;
};

const { parliamentPeriod } = Astro.props as Props;

const pathname = Astro.url.pathname.toLowerCase();
let activePage = '';
switch (true) {
  case pathname.startsWith(`/pp/${parliamentPeriod.id}/session/`) ||
    pathname === `/pp/${parliamentPeriod.id}/sessions`:
    activePage = 'sessions';
    break;
  case pathname.startsWith(`/pp/${parliamentPeriod.id}/faction/`) ||
    pathname === `/pp/${parliamentPeriod.id}/factions`:
    activePage = 'factions';
    break;
  case pathname.startsWith(`/pp/${parliamentPeriod.id}/party/`) ||
    pathname === `/pp/${parliamentPeriod.id}/parties`:
    activePage = 'parties';
    break;
  case pathname.startsWith(`/pp/${parliamentPeriod.id}/person/`) ||
    pathname === `/pp/${parliamentPeriod.id}/persons`:
    activePage = 'persons';
    break;
}
---

<input
  type="checkbox"
  id="layout-sidebar-toggle-trigger"
  class="hidden"
  aria-label="Toggle layout sidebar"
/>

<div id="layout-sidebar">
  <a
    class="flex min-h-16 items-center px-5 text-xl md:text-2xl font-bold text-primary"
    href="/"
  >
    StadtratWatch
  </a>
  <div class="relative min-h-0 grow">
    <div class="size-full">
      <div class="dropdown w-full">
        <div
          tabindex="0"
          role="button"
          class="bg-base-200 hover:bg-base-300 rounded-box mx-2 mt-0 flex cursor-pointer items-center gap-2.5 px-3 py-2 transition-all"
        >
          <div class="grow">
            <p class="text-sm font-medium">{parliamentPeriod.name}</p>
            <p class="text-base-content/60 text-xs">
              Stand: {formatDate(parliamentPeriod.lastUpdate)}
            </p>
          </div>
          <span
            class="iconify lucide--chevrons-up-down text-base-content/60 size-4"
          ></span>
        </div>
        <ul
          role="menu"
          class="dropdown-content menu bg-base-100 rounded-box shadow-base-content/4 mb-1 w-48 p-1 shadow-[0px_-10px_40px_0px]"
          tabindex="0"
        >
          {
            parliamentPeriods.map((parliamentPeriod) => (
              <li>
                <a href={`/pp/${parliamentPeriod.id}`}>
                  <span>{parliamentPeriod.name}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div id="sidebar-menu" class="mt-3">
        <a
          class="sidebar-menu-item"
          class:list={[{ active: activePage === 'sessions' }]}
          href={`/pp/${parliamentPeriod.id}/sessions`}
        >
          Sitzungen
        </a>
        <a
          class="sidebar-menu-item"
          class:list={[{ active: activePage === 'factions' }]}
          href={`/pp/${parliamentPeriod.id}/factions`}
        >
          Fraktionen
        </a>
        <a
          class="sidebar-menu-item"
          class:list={[{ active: activePage === 'parties' }]}
          href={`/pp/${parliamentPeriod.id}/parties`}
        >
          Parteien
        </a>
        <a
          class="sidebar-menu-item"
          class:list={[{ active: activePage === 'persons' }]}
          href={`/pp/${parliamentPeriod.id}/persons`}
        >
          Personen
        </a>
      </div>
    </div>
  </div>

  <div class="p-3" x-data>
    <form
      class="md:hidden"
      @submit.prevent="$event.target.search.value.trim() !== '' ? window.location.href = `/search?q=${$event.target.search.value}` : null; $event.target.search.value = null"
    >
      <label class="input">
        <span class="iconify lucide--search text-base-content/60 size-5"></span>
        <input
          class="grow"
          placeholder="Suche"
          type="search"
          name="search"
        />
      </label>
    </form>
  </div>

  <div
    class="alert alert-soft alert-info m-3 dark:opacity-60"
    role="alert"
  >
    <span>
      Diese Seite ist <em>keine</em> offizielle Seite der Stadt Magdeburg. Es handelt
      sich hierbei um ein Privatprojekt und wird ehrenamtlich entwickelt von
      <a class="link" href="https://codefor.de/magdeburg" target="_blank">
        Code for Magdeburg
      </a>.
    </span>
  </div>

  <div class="mb-2">
    <hr class="border-base-300" />
    <ul class="menu w-full">
      <li>
        <a href="https://github.com/code-for-magdeburg/stadtratWatch-web" class="flex items-center gap-2">
          <span class="iconify lucide--github size-4"></span>
          Quellcode
        </a>
      </li>
      <li>
        <a href="/api" class="flex items-center gap-2">
          <span class="iconify lucide--code-2 size-4"></span>
          API
        </a>
      </li>
      <li>
        <a href="/privacy" class="flex items-center gap-2">
          <span class="iconify lucide--cookie size-4"></span>
          Datenschutz
        </a>
      </li>
      <li>
        <a href="/impressum" class="flex items-center gap-2">
          <span class="iconify lucide--section size-4"></span>
          Impressum
        </a>
      </li>
      <li>
        <a href="/contact" class="flex items-center gap-2">
          <span class="iconify lucide--mail size-4"></span>
          Kontakt
        </a>
      </li>
    </ul>
  </div>
</div>

<label for="layout-sidebar-toggle-trigger" id="layout-sidebar-backdrop"></label>
