---
import BreadcrumbMenuLayout from '../../../../layouts/BreadcrumbMenuLayout.astro';
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import { getSessionSummary, groupSessionsByYearAndMonth } from './_helpers';

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

export const getStaticPaths = (async () => {
  const electoralPeriods = await getCollection('electoralPeriods');
  return electoralPeriods.map(electoralPeriod => ({
    params: { electoralPeriod: electoralPeriod.id },
    props: { electoralPeriod: electoralPeriod.data }
  }));
}) satisfies GetStaticPaths;

const { electoralPeriod } = Astro.props as Props;
const { sessions } = electoralPeriod;

const sessionsByYearAndMonth = groupSessionsByYearAndMonth(sessions);

---
<BreadcrumbMenuLayout pageTitle="Sitzungen" electoralPeriod={electoralPeriod}>

  <h1 class="text-3xl font-bold text-gray-900 sm:tracking-tight">Sitzungen</h1>

  <div class="space-y-10 py-5 md:py-10">

    {Object
      .entries(sessionsByYearAndMonth)
      .map(([yearMonthKey, sessions]) => {
        const [year, month] = yearMonthKey.split('-');
        const label = new Date(+year, +month - 1).toLocaleString(
          'de-DE',
          { month: 'long', year: 'numeric' }
        );
        return (
          <div class="sm:w-3/4 md:w-3/5 mx-auto space-y-3">

            <h2 class="text-xl font-bold text-gray-900 tracking-tight">{label}</h2>

            {sessions
              .sort((a, b) => new Date(a.date).getTime() - new Date(b.date).getTime())
              .map(async session => {
                const label = new Date(session.date).toLocaleString(
                  'de-DE',
                  { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric',  }
                );
                const sessionSummary = await getSessionSummary(electoralPeriod.id, session.id);
                return (
                  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
                    <a
                        href={`/ep/${electoralPeriod.id}/session/${session.id}`}
                        class="px-4 py-3 sm:px-6 block"
                    >{label}</a>
                    <div class="px-4 py-5 sm:p-6">
                      <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="grid grid-cols-1 gap-x-4 gap-y-8 text-center lg:grid-cols-3">
                          <a
                              href={`/ep/${electoralPeriod.id}/session/${session.id}?tab=votings`}
                              class="mx-auto flex max-w-xs flex-col"
                          >
                            <div class="text-base/7 text-gray-600">Abstimmungen</div>
                            <div class="order-first text-xl sm:text-3xl font-semibold text-gray-900">{sessionSummary.votings}</div>
                          </a>
                          <a
                              href={`/ep/${electoralPeriod.id}/session/${session.id}?tab=speeches`}
                              class="mx-auto flex max-w-xs flex-col"
                          >
                            <div class="text-base/7 text-gray-600">Redebeiträge</div>
                            <div class="order-first text-xl sm:text-3xl font-semibold text-gray-900">{sessionSummary.speeches}</div>
                          </a>
                          <a
                              href={`/ep/${electoralPeriod.id}/session/${session.id}?tab=speaking-times`}
                              class="mx-auto flex max-w-xs flex-col"
                          >
                            <div class="text-base/7 text-gray-600">Redezeit</div>
                            <div class="order-first text-xl sm:text-3xl font-semibold text-gray-900">{sessionSummary.speakingTime}</div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                );
              })
            }

          </div>
        )}
      )
    }

  </div>

</BreadcrumbMenuLayout>
