---
---

<nav class="inline-flex -space-x-px rounded-md shadow-sm" x-data="pagination">
  <a
    :href="`/search?q=${searchTerm}&page=${currentPage - 1}`"
    class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0"
    :disabled="prevPageButtonDisabled"
    :aria-disabled="prevPageButtonDisabled"
    :class="{ 'pointer-events-none': prevPageButtonDisabled }"
  >
    <span class="sr-only">Zurück</span>
    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
      <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
    </svg>
  </a>

  <a
    :href="`/search?q=${searchTerm}&page=${prevPagesPage}`"
    x-show="!prevPagesBlockButtonHidden"
    href="#"
    class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
  >...</a>

  <template x-for="page in pages">
    <a
      :href="`http://localhost:4321/search?q=${searchTerm}&page=${page}`"
      class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
      :disabled="page === currentPage"
      :class="{ 'pointer-events-none': page === currentPage, 'bg-indigo-600': page === currentPage, 'text-white': page === currentPage }"
      x-text="page"
    ></a>
  </template>

  <a
    :href="`/search?q=${searchTerm}&page=${nextPagesPage}`"
    x-show="!nextPagesBlockButtonHidden"
    href="#"
    class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
  >...</a>

  <a
    :href="`/search?q=${searchTerm}&page=${currentPage + 1}`"
    class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
    :disabled="nextPageButtonDisabled"
    :aria-disabled="nextPageButtonDisabled"
    :class="{ 'pointer-events-none': nextPageButtonDisabled }"  >
    <span class="sr-only">Vor</span>
    <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
      <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
    </svg>
  </a>

</nav>
