---
import { type RegistryFaction } from '@models/registry';
import { type SessionInput } from '@models/SessionInput';
import {
  calcMotionsSuccessRateOfFaction,
  calcMotionsSuccessRateHistoryOfFaction,
} from '@data-analysis/MotionsSuccess';
import {
  calcVotingSuccessRateOfFaction,
  calcVotingSuccessRateHistoryOfFaction,
} from '@data-analysis/VotingSuccess';
import {
  calcUniformityScoreHistoryOfFaction,
  calcUniformityScoreOfFaction,
} from '@data-analysis/UniformityScore';
import {
  calcParticipationRateHistoryOfFaction,
  calcParticipationRateOfFaction,
} from '@data-analysis/ParticipationRate';
import {
  calcAbstentionRateHistoryOfFaction,
  calcAbstentionRateOfFaction,
} from '@data-analysis/AbstentionRate';
import { formatPercentage, formatScore } from '@utils/format-number';
import { type Registry } from '@models/registry';

type Props = {
  parliamentPeriod: Registry;
  faction: RegistryFaction;
  sessionInputs: SessionInput[];
};

const { parliamentPeriod, faction, sessionInputs } = Astro.props as Props;

const motionsSuccessRate = calcMotionsSuccessRateOfFaction(
  faction,
  sessionInputs,
);
const motionsSuccessRateHistory = calcMotionsSuccessRateHistoryOfFaction(
  faction,
  sessionInputs,
);
const votingsSuccessRate = calcVotingSuccessRateOfFaction(
  parliamentPeriod,
  faction,
  sessionInputs,
);
const votingsSuccessRateHistory = calcVotingSuccessRateHistoryOfFaction(
  parliamentPeriod,
  faction,
  sessionInputs,
);
const uniformityScore = calcUniformityScoreOfFaction(
  parliamentPeriod,
  faction,
  sessionInputs,
);
const uniformityScoreHistory = calcUniformityScoreHistoryOfFaction(
  parliamentPeriod,
  faction,
  sessionInputs,
);
const participationRate = calcParticipationRateOfFaction(
  parliamentPeriod,
  faction,
  sessionInputs,
);
const participationRateHistory = calcParticipationRateHistoryOfFaction(
  parliamentPeriod,
  faction,
  sessionInputs,
);
const abstentionRate = calcAbstentionRateOfFaction(
  parliamentPeriod,
  faction,
  sessionInputs,
);
const abstentionRateHistory = calcAbstentionRateHistoryOfFaction(
  parliamentPeriod,
  faction,
  sessionInputs,
);
---

<div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
  <div
    id="motions-success-rate"
    class="card card-border bg-base-100"
    data-history={JSON.stringify(motionsSuccessRateHistory)}
  >
    <div class="card-body space-y-3">
      <div class="card-title flex justify-between">
        <div>Erfolgreiche Anträge</div>
        <span class="text-3xl">{formatPercentage(motionsSuccessRate)}</span>
      </div>
      <p class="text-base-content/60 text-sm">
        Anteil der Anträge, die durch die Fraktion gestellt wurde und durch
        einen Mehrheitsbeschluss angenommen wurde.
      </p>
      <canvas id="motions-success-chart"></canvas>
    </div>
  </div>

  <div
    id="voting-success-rate"
    class="card card-border bg-base-100"
    data-history={JSON.stringify(votingsSuccessRateHistory)}
  >
    <div class="card-body space-y-3">
      <div class="card-title flex justify-between">
        <div>Abstimmungserfolg</div>
        <span class="text-3xl">{formatPercentage(votingsSuccessRate)}</span>
      </div>
      <p class="text-base-content/60 text-sm">
        Gibt an, wie häufig das Abstimmungsergebnis mit dem Votum der Fraktion
        übereinstimmte.
      </p>
      <canvas id="voting-success-chart"></canvas>
    </div>
  </div>

  <div
    id="uniformity-score"
    class="card card-border bg-base-100"
    data-history={JSON.stringify(uniformityScoreHistory)}
  >
    <div class="card-body space-y-3">
      <div class="card-title flex justify-between">
        <div>Geschlossenheit</div>
        <span class="text-3xl">{formatScore(uniformityScore)}</span>
      </div>
      <p class="text-base-content/60 text-sm">
        Ein Wert zwischen 0 und 1 gibt an, wie einheitlich die
        Fraktionsmitglieder abgestimmt haben. Je größer der Wert ist, desto
        geschlossener ist das Abstimmungsverhalten der Fraktion.
      </p>
      <canvas id="uniformity-chart"></canvas>
    </div>
  </div>

  <div
    id="participation-rate"
    class="card card-border bg-base-100"
    data-history={JSON.stringify(participationRateHistory)}
  >
    <div class="card-body space-y-3">
      <div class="card-title flex justify-between">
        <div>Abstimmungsteilnahme</div>
        <span class="text-3xl">{formatPercentage(participationRate)}</span>
      </div>
      <p class="text-base-content/60 text-sm">
        Gibt an, wie häufig die Fraktionsmitglieder an Abstimmungen teilgenommen
        haben.
      </p>
      <canvas id="participation-chart"></canvas>
    </div>
  </div>

  <div
    id="abstention-rate"
    class="card card-border bg-base-100"
    data-history={JSON.stringify(abstentionRateHistory)}
  >
    <div class="card-body space-y-3">
      <div class="card-title flex justify-between">
        <div>Stimmenthaltungen</div>
        <span class="text-3xl">{formatPercentage(abstentionRate)}</span>
      </div>
      <p class="text-base-content/60 text-sm">
        Gibt an, wie hoch der Anteil der abgegebenen Stimmen ist, die weder
        dafür noch dagegen waren.
      </p>
      <canvas id="abstention-chart"></canvas>
    </div>
  </div>
</div>

<script>
  import Chart from 'chart.js/auto';
  import 'chartjs-adapter-date-fns';
  import {
    type ChartConfiguration,
    type ChartData,
    type ChartOptions,
  } from 'chart.js';
  import { type HistoryDataPoint as MotionsSuccessRateHistoryDataPoint } from '@data-analysis/MotionsSuccess';
  import { type HistoryDataPoint as VotingSuccessRateHistoryDataPoint } from '@data-analysis/VotingSuccess';
  import { type HistoryDataPoint as UniformityScoreHistoryDataPoint } from '@data-analysis/UniformityScore';
  import { type HistoryDataPoint as ParticipationRateHistoryDataPoint } from '@data-analysis/ParticipationRate';
  import { type HistoryDataPoint as AbstentionRateHistoryDataPoint } from '@data-analysis/AbstentionRate';
  import { formatPercentage, formatScore } from '@utils/format-number';

  function makeChart<TData>(
    chartContainerId: string,
    chartCanvasId: string,
    numberFormatter: (value: number | null) => string,
  ) {
    const containerDiv = document.getElementById(
      chartContainerId,
    ) as HTMLDivElement;
    const parsedHistoryData = JSON.parse(
      containerDiv.dataset.history || '[]',
    ) as TData[];

    const data: ChartData<'line', TData[]> = {
      datasets: [
        {
          data: parsedHistoryData,
          fill: 'origin',
          backgroundColor: '#167bff30',
          borderColor: '#167bff',
        },
      ],
    };
    const options: ChartOptions<'line'> = {
      elements: { line: { tension: 0.5 } },
      scales: {
        x: { type: 'time' },
        y: {
          ticks: {
            callback: (value: string | number) =>
              typeof value === 'number' ? numberFormatter(value) : value,
          },
        },
      },
      parsing: {
        xAxisKey: 'date',
        yAxisKey: 'value',
      },
      plugins: { legend: { display: false } },
    };
    const config: ChartConfiguration<'line', TData[]> = {
      type: 'line',
      data,
      options,
    };
    new Chart<'line', TData[]>(
      document.getElementById(chartCanvasId) as HTMLCanvasElement,
      config,
    );
  }

  makeChart<MotionsSuccessRateHistoryDataPoint>(
    'motions-success-rate',
    'motions-success-chart',
    formatPercentage,
  );

  makeChart<VotingSuccessRateHistoryDataPoint>(
    'voting-success-rate',
    'voting-success-chart',
    formatPercentage,
  );

  makeChart<UniformityScoreHistoryDataPoint>(
    'uniformity-score',
    'uniformity-chart',
    formatScore,
  );

  makeChart<ParticipationRateHistoryDataPoint>(
    'participation-rate',
    'participation-chart',
    formatPercentage,
  );

  makeChart<AbstentionRateHistoryDataPoint>(
    'abstention-rate',
    'abstention-chart',
    formatPercentage,
  );
</script>
